[Desktop Entry]
Name=gciverver
Comment=Graphical server for Free Civilization clone game
Comment[pl]=Graficzny serwer dla freeciv
Exec=gcivserv
Icon=gcivserv
Terminal=false
Type=Application
Categories=GTK;Game;StrategyGame;
# vi: encoding=utf-8
