[Desktop Entry]
Name=gciverver
Comment=Graphical server for Free Civilization clone game
Comment[pl]=Graficzny serwer dla freeciv
Exec=gcivserv
Icon=gcivserv.png
Terminal=false
Type=Application
# vi: encoding=utf-8
